git+https://github.com/ranchodeluxe/xarray@ranchodeluxe-patch-1
s3fs
boto3
requests
git+https://github.com/pangeo-forge/pangeo-forge-recipes@gc/ndpyramid_final
git+https://github.com/carbonplan/ndpyramid
apache-beam==2.52.0
#xarray==2024.1.1
zarr==2.16.1
numpy
rioxarray
